<div class="toc-mak">
<img src="../../../images/tick.png">
<h4 style="text-align:center">अतिरिक्त पुस्तकें और उपकरण</h4><br>

<b><i>1. <a href="https://amzn.to/415X33I" target="_blank" title="Wren and Martin">Wren and Martin</a> (व्रेन और मार्टिन)</i></b> - यह किताब लंबे समय से मौजूद है और अभी भी सर्वश्रेष्ठ किताबों में से एक मानी जाती है। <br><br>

<b><i>2.</i></b> अधिक उन्नत शिक्षार्थी निम्नलिखित पुस्तकों का संदर्भ ले सकते हैं। हालाँकि, इन्हें तभी खरीदें जब आपको ज़रूरी हो।  <br>

<b><i>A. <a href="https://amzn.to/3zzabTr" target="_blank" title="Essential English Grammar">Essential English Grammar by Raymond Murphy</a> </i></b> <br>

<b><i>B. <a href="https://amzn.to/3GkGxFr" target="_blank" title="Intermediate English Grammar">Intermediate English Grammar by Raymond Murphy</a> </i></b> <br>

<b><i>C. <a href="https://amzn.to/417JZLz" target="_blank" title="Advanced English Grammar">Advanced English Grammar by Martin Hewings</a> </i></b> <br>

<b><i>D. <a href="https://amzn.to/3V2uX9N" target="_blank" title="English Grammar in Hindi Medium">Objective General English by S. P. Bakshi</a> </i></b><br><br>


3. अगर आप ऐसी पुस्तकें ढूंढ रहे हैं जो हिंदी माध्यम में हों, तो आप निम्नलिखित किताबें खरीद सकते हैं:<br>
* <b><i> <a href="https://amzn.to/49zL2Ix" target="_blank" title="English Grammar in Hindi Medium">Oxford Current English Translation & Grammar by R. K. Sinha</a> </i></b><br>

* <b><i> <a href="https://amzn.to/49U5mEm" target="_blank" title="English Grammar in Hindi Medium">English Grammar & Composition by S. C. Gupta</a> </i></b><br>

* <b><i> <a href="https://amzn.to/3Im37xI" target="_blank" title="English Grammar in Hindi Medium">ENGLISH FOR GENERAL COMPETITIONS VOL - 1 by Neetu Singh (In Hindi)</a> </i></b><br>

* <b><i> <a href="https://amzn.to/49RBs4d" target="_blank" title="English Grammar in Hindi Medium">ENGLISH FOR GENERAL COMPETITIONS VOL - 1 by Neetu Singh (In English)</a> </i></b><br><br>

अंग्रेजी व्याकरण के लिए तो इतना बहुत है। लेकिन समझ कौशल (Comprehension skills) और शब्दावली (Vocabulary) के बारे में क्या? <br><br>

इसके लिए मैं <b><i><a href="https://amzn.to/43jY2Qx" target="_blank" title="Kindle">किंडल (Kindle)</a></i></b> जैसे गैजेट पर पढ़ना पसंद करता हूं। हम किसी भी शब्द पर टैप कर सकते हैं और वहां उसका अर्थ देख सकते हैं। इससे आंखों पर बोझ भी नहीं पड़ता। किंडल के ढेर सारे मॉडल और संस्करण उपलब्ध हैं। हालाँकि, कोई भी मॉडल हमारी बुनियादी पढ़ने की ज़रूरतों के लिए पर्याप्त सिद्ध होगा। <br><br>

किताबों के बारे में और अधिक जानने के लिए आप <a href="../extra-books-and-tools" title="Extra Books and Tools" class="mak-link">हमारा यह लेख</a> पढ़ सकते हैं| 
</div>
